body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    
}

.maintitle {
    width: 85vw;;
    margin: auto;
    text-align: center;
}

.maintitle h1 {
    font-size: 3rem;
    color: white;
    
}

.maintitle p {
    color: white;
    font-size: 2rem;
    display: none;
}

#game-board {
    margin: auto;

    aspect-ratio: 1 / 1;
    width: 85vw;
    height: auto;
    border: 2px solid white;
    /* grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    
}

.cell {
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 17, 255, 0);
    border: 2px rgb(255, 255, 255) solid;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.cell.neon span {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 10px rgb(255, 93, 93),
        0 0 20px rgb(255, 49, 49),
        0 0 40px rgb(255, 0, 0),
        0 0 80px rgb(255, 0, 0),
        0 0 100px rgb(161, 0, 0);
}

